---
---

@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+Mono);

body {
  padding: 0 0 0 0;
  margin: 16px;
  font: 14px "Noto Sans";
  color: #ffffff;
  font-weight: normal;
  background: #121212;
  line-height: 1.5;
  max-width: 80em;
}

code {
  font: 14px "Noto Sans Mono";
  color: #ffffff;
  background: #242424;
  margin: 0 4px;
  border-radius: 4px;
}

pre {
  padding: 8px 16px;
  background: #242424;
  overflow: auto;
  overflow-y: hidden;
  border-radius: 8px;

  code {
    color: #ffffff;
    font: 14px "Noto Sans Mono";
    margin: 0;
    padding: 0;
  }
}

h1 {
  padding-top: 0px;
}

h2, h3, h4, h5 {
  padding-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
  padding-bottom: 2px;
  line-height: 1;
  margin: -2px;
}

h1, h2 {
  padding-bottom: 8px;
  border-bottom: 2px solid #242424;
}

h1 {
  font: 900 48px "Noto Sans";
}

h2 {
  font: 900 32px "Noto Sans";
}

h3 {
  font: 900 24px "Noto Sans";
}

h4 {
  font: 900 20px "Noto Sans";
}

h5 {
  font: 900 16px "Noto Sans";
}

h6 {
  font: 900 14px "Noto Sans";
}

a {
  color: #33ccbb;
  text-decoration: none;
}
