---
---

@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+Mono);

body {
  padding: 0px 0 20px 0px;
  margin: 10px;
  font: 14px 'Noto Sans';
  color: #ffffff;
  font-weight: normal;
  background: #121212;
}

code {
  font: 14px 'Noto Sans Mono';
  color: #888888;
  margin: 0 4px;
  padding: 4px 6px;
  border-radius: 2px;
}
