---
---

@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+Mono);

body {
  padding: 0px 0 10px 0px;
  margin: 20px;
  font: 16px 'Noto Sans';
  color: #ffffff;
  font-weight: normal;
  background: #121212;
}

code {
  font: 16px 'Noto Sans Mono';
  color: #ffffff;
  background: #242424;
  margin: 0 4px;
  padding: 4px 6px;
  border-radius: 2px;
}

pre {
  padding: 8px 16px;
  background: #242424;
  overflow: auto;
  overflow-y: hidden;

  code {
    color: #ffffff;
    margin: 0;
    padding: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  padding-top: 24px;
  padding-bottom: 8px;
  margin: -10px;
}

h1, h2 {
  padding-bottom: 2px;
  border-bottom: 2px solid #242424;
}

a {
  color: #33ccbb;
  text-decoration: none;
}
